@use '../../styles/constantes' as *;

.contact-btn {
  width: fit-content;
  display: inline-block;
  background: $primary-color;
  color: #fff;
  padding: 0.7rem 1.5rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 0.5rem;
  transition: background 0.2s, transform 0.2s;

  &:hover {
    background: $secondary-color;
    transform: scale(1.05);
  }

  @media (max-width: 650px) {
    font-size: 0.95rem;
    padding: 0.6rem 1.2rem;
  }
}
