
.contact {
  width: 100%;
  height: calc(100vh - 110px);

  @media (max-width: 650px) {
    height: calc(100vh - 75px);
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.contact-link {
  display: inline-block;
  text-decoration: none; /* Supprime le soulignement par défaut */
  color: white; /* Couleur du texte */
  background-color: #38bcbc; /* Couleur de fond (vert WhatsApp) */
  padding: 10px 20px; /* Ajoute de l'espace autour du texte */
  border-radius: 5px; /* Arrondit les coins */
  font-size: 16px; /* Taille du texte */
  font-weight: bold; /* Met le texte en gras */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Ajoute une transition pour les effets */
}

.contact-link:hover {
  background-color: #2C9696; /* Change la couleur de fond au survol */
  transform: scale(1.05); /* Agrandit légèrement le lien au survol */
}

.contact-link:active {
  transform: scale(0.95); /* Réduit légèrement le lien lorsqu'il est cliqué */
}