@import '../../styles/constantes.scss';

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  min-height: 0;
}

.contact-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.contact-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.contact-link {
  display: inline-block;
  text-decoration: none; /* Supprime le soulignement par défaut */
  color: white; /* Couleur du texte */
  background-color: $primary-color; /* Couleur de fond (vert WhatsApp) */
  padding: 10px 20px; /* Ajoute de l'espace autour du texte */
  border-radius: 5px; /* Arrondit les coins */
  font-size: 1rem; /* Taille du texte */
  font-weight: bold; /* Met le texte en gras */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Ajoute une transition pour les effets */
}

.contact-link:hover {
  background-color: #268282; /* Change la couleur de fond au survol */
  transform: scale(1.05); /* Agrandit légèrement le lien au survol */
}

.contact-link:active {
  transform: scale(0.95); /* Réduit légèrement le lien lorsqu'il est cliqué */
}

@media (max-width: 650px) {
  .contact-container {
    font-size: 1rem; /* Réduit la taille du texte pour les petits écrans */
    padding: 10px; /* Réduit les marges internes pour les petits écrans */
  }

  .contact-link {
    font-size: 0.75rem; /* Réduit la taille du texte pour les petits écrans */
    padding: 8px 16px; /* Réduit l'espace autour du texte */
  }
}

.contact-logo {
  height: 25px;
  width: 25px;
  fill: #268282;
}