html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* S'assure que le body occupe toute la hauteur de la fenêtre */
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 110px); /* Ajuste la hauteur pour inclure le header et le footer */
}

@media (max-width: 650px) {
  .home {
    height: calc(100vh - 75px); /* Ajuste la hauteur pour les petits écrans */
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligne les textes à gauche */
  justify-content: center;
  flex-grow: 1; /* Permet à la section principale de prendre tout l'espace disponible */
  text-align: left; /* Aligne le texte à gauche */
  padding: 0 13.25em; /* Ajoute un peu d'espace autour du contenu */
}

.home-container p {
  font-size: 1.375rem; /* Texte plus grand */
  line-height: 1.8; /* Espacement entre les lignes pour une meilleure lisibilité */
  color: #2C9696; /* Couleur du texte */
  margin-bottom: 1.25rem; /* Espacement entre les paragraphes */
  word-wrap: break-word; /* Permet de couper les mots longs si nécessaire */
}

.home-logo {
  position: absolute; /* Place le logo en haut à gauche */
  top: 5rem;
  left: 4.375rem;
  height: 15.625rem;
  pointer-events: none;
}

/* Media query pour les petits écrans */
@media (max-width: 650px) {
  .home-logo {
    top: 3.125rem;
    left: 1.25rem;
    height: 7.5rem; /* Réduit la taille du logo */
  }

  .home-container {
    padding: 0 0.625rem; /* Ajoute un peu d'espace autour du contenu */
    margin-top: 1.875rem; /* Réduit l'espace entre le logo et le contenu */
  }

  .home-container p {
    font-size: 0.75rem; /* Réduit la taille du texte pour les petits écrans */
    line-height: 1.4; /* Ajuste l'espacement entre les lignes */
    margin-bottom: 0.625rem; /* Réduit l'espacement entre les paragraphes */
  }
}