@use './styles/constantes.scss' as *;

.app {
  text-align: center;
  background-color: #F3EFE9;
  background-image: url("./assets/background-laptop.png");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: $text-font-size;
  color: $secondary-color;
  
  @media (max-width: 1025px) {
    background-image: url("./assets/background-phone.png");
  }
  
  @media (max-width: 650px) {
    font-size: $mobile-text-font-size;
  }
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 0;
}

.main-title {
  font-size: 2rem;
  font-weight: bold;
  color: $basic-text-color;
  margin-bottom: 1rem;
  display: block;
  
  @media (min-width: 950px) {
    display: none;
  }
  
  @media (max-width: 650px) {
    font-size: 1.5rem;
  }
}