@import './styles/constantes.scss';

.app {
  text-align: center;
  background-color: #F3EFE9;
  background-image: url("./assets/background-laptop.png");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Change de center à flex-start pour aligner le contenu en haut */
  font-size: calc(10px + 2vmin);
  color: $secondary-color;
  
  @media (max-width: 1025px) {
    background-image: url("./assets/background-phone.png");
  }
}

.main-content {
  flex-grow: 1; /* Permet au contenu principal de prendre tout l'espace disponible */
  display: flex;
  flex-direction: column;
  width: 100%; /* S'assure que le contenu prend toute la largeur */
  min-height: 0; /* Empêche les conflits de hauteur avec flexbox */
}