@use '../../styles/constantes' as *;

.accompaniements {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 84vh;
}
.accompaniements-container {
  margin-top: 10px;
}

.accordion-list {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.accordion-item {
  border-radius: 8px;
  margin-bottom: 18px;
  border: 1px solid #e0e0e097;
  background: #ffffff4a;
  overflow: hidden;
  box-shadow: 0 2px 8px #0001;
  transition: box-shadow 0.2s;
}

.accordion-item.open {
  box-shadow: 0 4px 16px #0002;
}

.accordion-title {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-family: 'Domine';
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 24px;
  cursor: pointer;
  transition: background 0.2s;
  color: $primary-color;
}

.accordion-title:hover {
  background: #F3EFE9;
}

.accordion-title .icon {
  font-size: 1.6em;
  margin-right: 12px;
}

.accordion-title .arrow {
  margin-left: 12px;
  font-size: 1.2em;
}

.accordion-content {
  padding: 15px 24px 18px 48px;
  animation: fadeIn 0.3s;
  color: #907493;

  ul, ol {
    text-align: left;
    padding-left: 1.5em;
  }
  li {
    text-align: left;
  }
}

.chips {
  margin-top: 30px;
}

.chip {
  display: inline-block;
  background: #e0f7fa;
  color: #237b7b;
  border-radius: 16px;
  padding: 3px 12px;
  font-size: 0.95em;
  margin-right: 8px;
  margin-bottom: 4px;
}

.note-nature {
  font-style: italic;
  color: $secondary-color;
  margin: 2rem;
  padding: 1rem;
  border-left: 3px solid $secondary-color;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px);}
  to { opacity: 1; transform: translateY(0);}
}